{{ define "main" }}
<div class="posts">
  {{ $contentTypeName := "meetings" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ range ($paginator.Pages.ByParam "meetingdate").Reverse}}
  <div class="post on-list">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{with .Params.meetingdate}}{{ .Format ("02-01-2006 15:04") }}{{end}}</a></h1>
    <div class="post-meta">
      <span class="post-date">
          {{ .Title | markdownify }}
      {{if ne .Params.place "Ciemnia"}}
      {{ with .Params.place }}<span class="post-author">==>
        {{ . }}</span>{{ end }}
        {{ end }}
      </span>
    </div>
    <div class="post-content">
        {{ if not .Params.Description }}
        {{ .Content | markdownify }}
        {{ else }}
        {{ .Description | markdownify }}
        {{ end }}
      </div>
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{ end }}
