{{ define "main" }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ with .Params.meetingdate}}{{.Format "02-01-2006 15:04" }}{{end}}</a></h1>
  <div class="post-meta">
      <span class="post-date">
          {{ .Title | markdownify }}
      {{if ne .Params.place "Ciemnia"}}
      {{ with .Params.place }}<span class="post-author">==>
        {{ . }}</span>{{ end }}
        {{ end }}
      </span>
  </div>

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>
</div>
{{ end }}
