{{ define "main" }}
<div class="posts">
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := .Site }}
  <div class="post on-list">
    <h1 class="post-title">
      <a href="/meetings">Nadchodzące zajęcia</a></h1>
      <div class="post-content">
    {{range where (.Site.RegularPages.ByParam ("meetingDate")) "Type" "meetings"}}
    {{if (time .Params.meetingdate).After now }}
        <p>
        {{with .Params.meetingdate}}
          {{ .Format ("02-01-2006") }}
          {{ if or (ne (.Hour) 15) (ne (.Minute) 10)}}
            <strong>{{ .Format ("15:04") }}</strong>
            {{else}}
            {{ .Format ("15:04") }}
          {{end}}
        {{end}}
        <a href="{{ .Permalink }}">
        {{ .Title | markdownify }}
        {{ with .Params.place }}
          {{if ne . "Ciemnia"}}
            ==> <strong>{{ . }}</strong>
            {{else}}
            ==> {{.}}
          {{ end }}
        {{ end }}
      </a>
    </p>
    {{end}}
    {{end}}
  </div>
  </div>
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}
  {{ range $paginator.Pages }}
  <div class="post on-list">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    <div class="post-meta">
      <span class="post-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
      {{ with .Params.Author }}<span class="post-author">::
        {{ . }}</span>{{ end }}
    </div>

    {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
        {{- . -}}
      </a>&nbsp;
      {{ end }}
    </span>
    {{ end }}

    {{ with .Params.Cover }}
    <img src="{{ . | absURL }}" class="post-cover" />
    {{ end }}

    <div class="post-content">
      {{ if .Params.showFullContent }}
      {{ .Content | markdownify }}
      {{ else if .Description }}
      {{ .Description | markdownify }}
      {{ else }}
      {{ if .Truncated }}
      {{ .Summary | markdownify }}
      {{ end }}
      {{ end }}
    </div>

    {{ if not .Params.showFullContent }}
    <div>
      <a class="read-more button"
        href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{ end }}
