{{ define "main" }}
<div class="posts">
  {{ $contentTypeName := "lectures" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ range $paginator.Pages }}
  <div class="post on-list">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    <div class="post-meta">
      <span class="post-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
      {{ with .Params.Author }}<span class="post-author">::
        {{ . }}</span>{{ end }}
    </div>
    {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
        {{- . -}}
      </a>&nbsp;
      {{ end }}
    </span>
    <div class="post-content">
      {{ .Description | markdownify }}
    </div>
    {{ end }}
    <div>
            <a class="read-more button"
              href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
          </div>
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{ end }}
